<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>



            <div class="panel-body">
                <table >
                    <thead >
                    <tr>
                        <th>#</th>

                        <th>PRODUCT_ID</th>
                        <th>PRODUCT_NAME</th>
                        <th>PRODUCT_PRICE</th>
                        <th>IS_IN_STOCK</th>
                        <th>PRODUCT_INFORMATION</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${productsList}">
                        <td th:text="${product.idProduct}" />
                        <td th:text="${product.productName}" />
                        <td th:text="${product.productPrice}" />
                        <td th:text="${product.isInStock}" />
                        <td th:text="${product.productInformation}" />
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="admin-message-text text-center" th:utext="${userMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>